* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 微軟正黑體;
}

$main-color: #333;


header {
    height: 800px;

    nav {
        width: 100%;

        .logo {
            align-items: center;
            line-height: 80px;

            img {
                width: 100%;
            }
        }

        .menu {
            height: 80px;
            line-height: 80px;

            ul {
                display: flex;
                justify-content: flex-end;
                margin-right: -20px;

                li {
                    align-items: center;
                    padding: 0 20px;

                    a {
                        transition: ease-in-out .3s;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: $main-color;
                        }

                    }
                }
            }

        }
    }

    .banner {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 800px;
        background-position: center;
        background-size: cover;
        z-index: -1;

    }

    .parallax-window {
        min-height: 400px;
        background: transparent;
    }

    .title {
        position: absolute;
        top: 300px;
        text-align: center;
        color: #fff;
    }

}

main {
    section {
        margin: 100px auto;
    }

    .about {

        .row {
            margin: 20px auto;
            align-items: center;

            .txt {}

            .img {
                img {
                    width: 100%;
                }
            }
        }
    }

    .customer {
        height: 600px;
        background-image: url(../img/contact-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        .cust {
            position: absolute;
            width: 350px;
            top: 80px;
            right: 300px; 

            .mesage {
                position: relative;
        
                img {
                    width: 100%;
                    margin: 0 auto; 
                }

                .cus-txt {
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    background: #fff;
                    
                    &::before {
                        content: '';
                    }
                }
            }

        }

    }

    .product {

        .pro {
            
            .pro-items {
                text-align: center;
                
                .pro-img {
                    background-image: linear-gradient( 179.4deg,  rgba(253,240,233,1) 2.2%, rgba(255,194,203,1) 96.2% );             
                    padding: 20px 3px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.2);
                    width: 300px;
                    margin: 0 auto 10px;
    
                    img {
                        font-weight: 600;
                        width: 250px;
                    }
                }

                .pro-title {
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }




    }

    .contact {
        height: 500px;
    }
}

footer {
    color: #fff;
    height: 300px;
    background-color: $main-color;

    .copyright {
        text-align: center;
    }
}