* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 微軟正黑體;
}

$main-color: #333;


header {
    height: 880px;

    nav {
        width: 100%;

        .logo {
            align-items: center;
            line-height: 80px;

            img {
                width: 100%;
            }
        }

        .menu {
            height: 80px;
            line-height: 80px;

            ul {
                display: flex;
                justify-content: flex-end;
                margin-right: -20px;

                li {
                    align-items: center;
                    padding: 0 20px;

                    a {
                        transition: ease-in-out .3s;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: $main-color;
                        }

                    }
                }
            }

        }
    }

    .banner {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 800px;
        // background: url(../img/benner.jpg);
        background-position: center;
        background-size: cover;
        z-index: -1;

    }

    .parallax-window {
        min-height: 400px;
        background: transparent;
    }

    .title {
        position: absolute;
        top: 300px;
        text-align: center;
        color: #fff;
    }

}

main {
    .about {

        .row {
            margin: 20px auto;
            align-items: center;

            .txt {}

            .img {
                img {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    color: #fff;
    height: 300px;
    background-color: $main-color;

    .copyright {
        text-align: center;
    }
}